@model DbCottonDollStore.ViewModels.VMOrderDetails

@{
    // Layout = "_Layout_Login";
    ViewData["Title"] = "訂單明細";
    var Manager = Context.Session.GetString("Manager");
}

<h1>@ViewData["Title"]</h1>
<p class="text-end">歡迎回來，@ViewData["UID"]~</p>
<hr>


<div class="row">
    <div class="col-2">
        @await Component.InvokeAsync("NavBars", new { id = ViewData["UID"] })
    </div>

    <div class="col-10">

            <h4>訂單編號 @Model.Orders.FirstOrDefault().OrderID</h4>
            @await Component.InvokeAsync("VCOrders", new { id = Model.Orders.FirstOrDefault().OrderID })


        <table class="table">
            <tr>
                <th class="border-0">
                    <i class="bi bi-credit-card-fill"></i> @Html.DisplayNameFor(model => model.Orders.FirstOrDefault().Payment)
                </th>
            </tr>
            <tr>
                <td class="fs-10">
                    <span class="ps-4">@Model.Orders.FirstOrDefault().Payment</span>
                </td>
            </tr>
        </table>
        <table class="table">
            <tr>
                <th class="border-0">
                    @Html.DisplayNameFor(model => model.Orders.FirstOrDefault().ConNumber)
                </th>
                <td class="border-0">
                    @Model.Orders.FirstOrDefault().ConNumber
                </td>
            </tr>
            <tr>
                <th class="border-0">
                    @Html.DisplayNameFor(model => model.Orders.FirstOrDefault().OrderDate)
                </th>
                <td class="border-0">
                    @Model.Orders.FirstOrDefault().OrderDate
                </td>
            </tr>
            <tr>
                <th class="border-0">
                    @Html.DisplayNameFor(model => model.Orders.FirstOrDefault().ShipDate)
                </th>
                <td class="border-0">
                    @Model.Orders.FirstOrDefault().ShipDate
                </td>
            </tr>
            <tr>
                <th class="border-0">
                    @Html.DisplayNameFor(model => model.Orders.FirstOrDefault().PickupDate)
                </th>
                <td class="border-0">
                    @if (Model.Orders.FirstOrDefault().PickupDate == null && Model.Orders.FirstOrDefault().UserID == Manager)
                    {
                        <form asp-controller="Orders" asp-action="Pickup">
                            <input type="hidden" asp-for="@Model.Orders.FirstOrDefault().OrderID" />
                            <input type="submit" value="我要取件" class="btn btn-sm text-orange" />
                        </form>
                    } else
                    {
                        @Model.Orders.FirstOrDefault().PickupDate
                    }
                </td>
            </tr>
        </table>
        
        <div class="row gap-2 justify-content-around">
            <a asp-controller="Orders" asp-action="sellerOrders" asp-route-sid="@Model.Orders.FirstOrDefault().StoreID" asp-route-uid="@ViewData["UID"]" class="col-5 btn btn-outline-dark">返回</a>
            @* <a asp-controller="OrderDetails" asp-action="Review" asp-route-id="@Model.Orders.FirstOrDefault().OrderID" class="col-5 btn btn-outline-dark">查看評價</a> *@
            @* <a asp-action="Review" asp-route-oid="@Model.OrderDetails.FirstOrDefault().OrderID"
               asp-route-pid="@Model.OrderDetails.FirstOrDefault().ProID"
               asp-route-psid="@Model.OrderDetails.FirstOrDefault().ProSpecID"
            class="col-5 btn btn-outline-dark">發表評論</a> *@
        </div>
        
    </div>
</div>


